body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
table.Tabla-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
	margin-left: auto; margin-right: auto;
}
td.Tabla-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	margin-left: auto; margin-right: auto;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Final-del-Articulo_references {
	color:#000000;
	font-family:"Sitka (OTF) Banner", sans-serif;
	font-size:12.8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:6px;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:2;
}
p.P-rrafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Paginas-internas-Art_TEXTO-GENERAL {
	color:#000000;
	font-family:"Sitka (OTF) Banner", sans-serif;
	font-size:13.5px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:4px;
	text-transform:none;
	widows:2;
}
p.Paginas-internas-Art_sub-1-centro {
	-epub-hyphens: none;
	color: #343434;
	font-family: Lato, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 1.167;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 0;
	margin-top: 6px;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
}
p.Resumen-Art_TEXTOS-AUTORES {
	color:#000000;
	font-family:"Sitka (OTF) Banner Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.15;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_T-tulos-PRINCIPAL {
	-epub-hyphens:none;
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:18px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_autor {
	color:#838383;
	font-family:Lato, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_encabezado-art {
	color:#706f6f;
	font-family:Nunito, sans-serif;
	font-size:15px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_para-resumen {
	-epub-hyphens:none;
	color:#343434;
	font-family:"Sitka (OTF) Banner", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_recibido {
	-epub-hyphens:none;
	color:#010102;
	font-family:"Sitka (OTF) Banner", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:0;
	margin-left:10px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_sub-resumen {
	color:#343434;
	font-family:Lato, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Resumen-Art_t-tulo-en-ingl-s {
	-epub-hyphens:none;
	color:#343434;
	font-family:"Sitka (OTF) Display", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tablas_Categorias {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tablas_Datos {
	color:#000000;
	font-family:"Lato Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tablas_Numeracion {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:center;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:2;
}
p.Tablas_Pie-de-figuras {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tablas_Subcategorias-sin- {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tablas_Titulo-de-tabla {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:13px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:center;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:2;
}
p.Tablas_Titulos {
	color:#ffffff;
	font-family:"Lato Black", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#275b9b;
	text-decoration:underline;
}
span.Italicas-Ref {
	font-family:"Sitka (OTF) Banner Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.Italicas-Txt {
	font-family:"Sitka (OTF) Banner Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.italics {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:normal;
}
span.superindice {
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
td.CellOverride-1 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-2 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-3 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
}
td.CellOverride-4 {
	background-color:#dadada;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-5 {
	background-color:#dadada;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-6 {
	background-color:#dadada;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-7 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	vertical-align:middle;
}
td.CellOverride-9 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	vertical-align:middle;
}
td.CellOverride-10 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-11 {
	background-color:#b2b2b2;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-12 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-13 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-14 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-15 {
	background-color:#dadada;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-16 {
	background-color:#dadada;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-17 {
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-18 {
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-19 {
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-20 {
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-21 {
	background-color:#b2b2b2;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-22 {
	background-color:#706f6f;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-23 {
	background-color:#b2b2b2;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-24 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-25 {
	background-color:#b2b2b2;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-26 {
	background-color:#b2b2b2;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-27 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
}
td.CellOverride-28 {
	background-color:#dadada;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
}
td.CellOverride-29 {
	background-color:#b2b2b2;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
td.CellOverride-30 {
	background-color:#b2b2b2;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
}
p.ParaOverride-1 {
	text-align:left;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
p.ParaOverride-3 {
	margin-bottom:0px;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
	margin-bottom:3px;
}
p.ParaOverride-5 {
	text-align:right;
}
p.ParaOverride-6 {
	text-indent:0px;
}
p.ParaOverride-7 {
	text-align:center;
}
p.ParaOverride-8 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-9 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-10 {
	text-align:justify;
	text-align-last:left;
}
span.CharOverride-1 {
	color:#010102;
	font-family:"Lato Light", sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-2 {
	color:#010102;
	font-size:10.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:3px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-4 {
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-size:6px;
}
span.CharOverride-6 {
	color:#010102;
	font-size:12px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#010102;
	font-family:"Nunito Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#010102;
	font-family:"Nunito Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	font-size:9px;
}
span.CharOverride-10 {
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#e09d01;
	font-family:Lato, sans-serif;
	font-style:normal;
	font-size: 25px;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#e09d01;
	font-family:Lato, sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-13 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-14 {
	font-family:Nunito, sans-serif;
	font-style:normal;
	font-size: 14px;
	font-weight:normal;
}
span.CharOverride-15 {
	font-family:"Sitka (OTF) Banner", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-17 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-19 {
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-size:8px;
}
span.CharOverride-21 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-22 {
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-23 {
	font-size:7px;
}
span.CharOverride-24 {
	font-size:7px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-25 {
	color:#000000;
}
td._idGenCellOverride-1 {
	border-bottom-style:solid;
	border-bottom-width:1px;
}
col._idGenTableRowColumn-1 {
	width:65px;
}
col._idGenTableRowColumn-2 {
	width:88px;
}
col._idGenTableRowColumn-3 {
	width:111px;
}
col._idGenTableRowColumn-4 {
	width:128px;
}
col._idGenTableRowColumn-5 {
	width:90px;
}
tr._idGenTableRowColumn-6 {
	min-height:29px;
}
tr._idGenTableRowColumn-7 {
	min-height:80px;
}
col._idGenTableRowColumn-8 {
	width:51px;
}
col._idGenTableRowColumn-9 {
	width:48px;
}
col._idGenTableRowColumn-10 {
	width:146px;
}
tr._idGenTableRowColumn-11 {
	min-height:14px;
}
tr._idGenTableRowColumn-12 {
	min-height:15px;
}
tr._idGenTableRowColumn-13 {
	min-height:18px;
}
col._idGenTableRowColumn-14 {
	width:72px;
}
col._idGenTableRowColumn-15 {
	width:130px;
}
col._idGenTableRowColumn-16 {
	width:55px;
}
col._idGenTableRowColumn-17 {
	width:77px;
}
col._idGenTableRowColumn-18 {
	width:152px;
}
col._idGenTableRowColumn-19 {
	width:58px;
}
col._idGenTableRowColumn-20 {
	width:31px;
}
col._idGenTableRowColumn-21 {
	width:28px;
}
col._idGenTableRowColumn-22 {
	width:32px;
}
col._idGenTableRowColumn-23 {
	width:33px;
}
col._idGenTableRowColumn-24 {
	width:35px;
}
tr._idGenTableRowColumn-25 {
	min-height:17px;
}
tr._idGenTableRowColumn-26 {
	min-height:16px;
}
tr._idGenTableRowColumn-27 {
	min-height:20px;
}
tr._idGenTableRowColumn-28 {
	min-height:24px;
}
tr._idGenTableRowColumn-29 {
	min-height:22px;
}
tr._idGenTableRowColumn-30 {
	min-height:21px;
}
col._idGenTableRowColumn-31 {
	width:171px;
}
col._idGenTableRowColumn-32 {
	width:27px;
}
tr._idGenTableRowColumn-33 {
	min-height:23px;
}
tr._idGenTableRowColumn-34 {
	min-height:27px;
}
tr._idGenTableRowColumn-35 {
	min-height:25px;
}
col._idGenTableRowColumn-36 {
	width:93px;
}
col._idGenTableRowColumn-37 {
	width:157px;
}
col._idGenTableRowColumn-38 {
	width:56px;
}
col._idGenTableRowColumn-39 {
	width:29px;
}
col._idGenTableRowColumn-40 {
	width:26px;
}
col._idGenTableRowColumn-41 {
	width:36px;
}
tr._idGenTableRowColumn-42 {
	min-height:49px;
}
tr._idGenTableRowColumn-43 {
	min-height:34px;
}
tr._idGenTableRowColumn-44 {
	min-height:32px;
}
tr._idGenTableRowColumn-45 {
	min-height:39px;
}
col._idGenTableRowColumn-46 {
	width:80px;
}
col._idGenTableRowColumn-47 {
	width:164px;
}
col._idGenTableRowColumn-48 {
	width:30px;
}
col._idGenTableRowColumn-49 {
	width:100px;
}
col._idGenTableRowColumn-50 {
	width:54px;
}
col._idGenTableRowColumn-51 {
	width:24px;
}
tr._idGenTableRowColumn-52 {
	min-height:30px;
}
col._idGenTableRowColumn-53 {
	width:91px;
}
col._idGenTableRowColumn-54 {
	width:71px;
}
table._idGenTablePara-1 {
	margin-left:auto;
	margin-right:auto;
}
#_idContainer000 {
	display:inline-block;
	height:37px;
	width:111px;
}
#_idContainer008 {
	display:inline-block;
	height:17px;
	width:47px;
}
#_idContainer044 {
	display:inline-block;
	height:133px;
	width:235px;
}
img._idGenObjectAttribute-1 {
	height:230.00%;
	min-width:100%;
	width:250.00%;
}
img._idGenObjectAttribute2{
	height:230.00%;
	min-width:100%;
	width:250.00%;
	
	position: relative;
	left: 200%;
}

img._idGenObjectAttribute-2 {
	height:10px;
	width:10px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:left;
}
.postit{
	position: relative;
	left: 50%;
	top: -70px;
}

img.img1 {
	height:20.00%;
	min-width:1%;
	width:3.00%;
	display: inline;
	text-align:left;
	border-width:0px;
      vertical-align: middle; /* Esto alinea la imagen verticalmente con el texto */
      margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
}

.Izquierda1{
	
	/*border-color:#878787;*/
	/*border-width:1px;*/
	border-radius: 0px;
	top: 80%;
	margin-left: auto;
    margin-right: auto;
	background-color:  #ec9c2c ;
	position: relative;
	max-width: 700px;
	height: 380px;
	/*border-width: 2px 4px 6px 8px;*/
	border-width:4px;
	border-style:solid;
	color: #d8d8d8 !important;
	
	text-align:center;
}

img._idGenObjectAttribute1 {
	height:25.00%;
	min-width:10%;
	width:25.00%;
	position: relative;
	left: 65%;
	top: -68px;
}